html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0rem;
}

img {
  display: block;
  width: 100%;
  margin: 0 0 0rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6rem;
}

header img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

header h1 {
  font-weight: lighter;
  font-size: 3rem;
  color: #FFFFFF;
  padding-left: 2rem;
  grid-column: 1 / -1;
  grid-row: 2;
  z-index: 1;
}

main h1 {
  text-decoration: none;
  text-align: left;
}

h2 {
  text-decoration: none;
  text-align: center;
}

h3 {
  text-decoration: none;
  text-align: center;
}

nav ul {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0 0 3rem 0;
  list-style-type: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: #222;
  padding: .6rem 1.25rem;
  border-radius: 8px;
 }

.contactlink {
  text-decoration: none;
  color: #222;
  padding: 0rem;
  border-radius: 0px;
}

.bio {
  display: grid;
  margin: 0;
  padding: 1rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr
  gap: 3rem;
  display: flex;
  justify-content: flex-end;
}

section {
  display: grid;
  margin: 0;
  padding: 2rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

div > article {
  background-color: #fff;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

article a {
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #bdbdbd;
  color: #000;
  text-decoration: none;
  margin: 1.5rem 0 0 0;
  padding: .75em;
  text-align: center;
  border-radius: 20px;
}

.contact-me {
  display: block;
}

.links {
  display: block;
  margin: 0;
  padding: 0 0 0rem 0;
  list-style-type: none;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blurb {
  text-align: center;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 1rem 3rem 3rem 3rem;
  padding: 0 0 0 1.5rem;
}


footer {
  display: grid;
  margin: 0;
  padding: 0.5rem 0;
  grid-template-columns: 1fr;
  gap: 2rem;
  background-color: #e8e8e8;
  border: 2px solid #bdbdbd;
}

footer p {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: lighter;
  text-align: center;
}
